<!doctype html>
<title>Demo Program</title>
<h3>Please input some basic information </h3>
<form action="" method="post">
	<div class="input text">{{ form.city.label }} {{ form.city }}</div>
	<div class="input text">{{ form.checkin.label }} {{ form.checkin }}</div>
	<div class="input text">{{ form.checkout.label }} {{ form.checkout }}</div>
	<br>
	<div class="input submit"><input type="submit" value="Submit"></div>
</form>