<!doctype html>
<!-- Not great to hardcode the names, would have been better to write them directly into the map,
so that the HTML display can be "blind" to what it's printing out, i.e. just columns and rows -->
 <table border="1">
    <thead>
        <tr>
            <th>Hotel ID</th>
            <th>Hotel Name</th>
            <th>Number of Reviews</th>
            <th>Address</th>
            <th>Number of Stars</th>
            <th>Amenities</th>
            <th>Image</th>
            <th>Snaptravel Price</th>
            <th>Hotels.com Price</th>
        </tr>
    </thead>
    <tbody>
        {% for data in dataToDisplay %}
        <tr>
            <td>{{data['id']}}</td>
            <td>{{data['hotel_name']}}</td>
            <td>{{data['num_reviews']}}</td>
            <td>{{data['address']}}</td>
            <td>{{data['num_stars']}}</td>
            <td>{{data['amenities']}}</td>
            <td><img src="{{data['image_url']}}"/></td>
            <td>{{data['price']}}</td>
            <td>{{data['hotelsPrice']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
